<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-preference" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>NyanPreference</name>
  <js-module name="NyanPreference" src="www/NyanPreference.js">
    <clobbers target="cordova.plugins.nyanPreference" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="NyanPreference">
        <param name="android-package" value="cordova.plugin.preference.NyanPreference" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <dependency id="es6-promise-plugin" version="4.1.0" />
    <source-file src="src/android/NyanPreference.java" target-dir="src/cordova/plugin/preference/NyanPreference" />
  </platform>
</plugin>